

<!-- Breadcrumb -->
<div class="breadcrumb bordercolor">
<div class="breadcrumb_inner">
  <%= link_to "Home", "/"%><span class="navigation-pipe">&gt;</span><%= link_to ProductType.find(@product.product_type_id).name, products_path(:product_type_id => @product.product_type_id)%><span class="navigation-pipe">&gt;</span><%= @product.name %></div>
</div>
<!-- /Breadcrumb -->
<script>
$(function() {
$(".image").click(function() {
var image = $(this).attr("rel");
$('#image').hide();
$('#image').fadeIn('slow');
$('#image').html('<img src="' + image + '"/>');
return false;
});
});
</script>
<div id="primary_block" class="clearfix">
  
  <div id="pb-right-column">

    <div class="preview">
              <div id = "image">
                <%= image_tag(@product.featured_image(:product)) %>
              </div>
              <div class="thumbs">
                <% @product.images.each do |image| %>
                <a href="#" rel="<%= image.photo.url(:product) %>" class="image">
                <%= image_tag(image.photo.url(:small)) %>

                </a>
                <% end %>
              </div>
    </div>

  </div>

  <div id="pb-left-column">
    <h1><%= @product.name%></h1>
        
              <div class="price bordercolor">
                    
          <span class="our_price_display">
                        <span id="our_price_display" class="price"><%= number_to_currency @product.price_range.first %></span>
                                  </span>

         
        </div>

       
              <div class="other_options bordercolor">
              <div id="other_prices">
          
          <div id="short_description_block" class="bordercolor">
              <div id="short_description_content" class="rte align_justify"><%= @product.description_markup%></div>
                 
        </div>
          
          
          
          
                    
            
             </div>
        
            <div id="attributes">

                <div class="clearblock"></div>

              </div>
<div class="clearblock"></div>
          <%= form_for  @cart_item, :as => :cart_item,
                  :url  => shopping_cart_items_path(@cart_item),
                  :html => { :id => 'new_cart_item' } do |f| %>
         <label> Select property</label>         
        <%= f.select :variant_id, options_for_select(@product.variants.collect {|p| [ p.sub_name, p.id ] } )%>
      <% unless @product.variants.empty? %>
          <%= f.label :quantity, 'Quantity:' %>
          <%= f.select :quantity, CartItem::QUANTITIES %>

        <div>
          <ul id = 'submit_add_to_cart', class="add2cartbtn">
            
            <li><%= submit_tag "Add to cart",:id => 'submit_add_to_cart', :class=> "exclusive" %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
   
        
     

    
    </div>

            <div class="clearblock"></div>

          </div>



  

    

      

  